.container {
    border: rgba(255, 255, 255, 0.37) solid;
    border-radius: 15px;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.hide {
    display: none;
}

.time-and-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#clock, .location {
    font-size: 20px;
}

.current-forcast {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-icon-holder {
    margin-right: 20px;
}

.weather-icon {
    width: 100px;
}

.temp {
    font-size: 40px;
}

.summary {
    text-align: center;
}

.extra-info {
    width: 75vw;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#divider {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: rgba(255, 255, 255, 0.301) solid 1px;
}